section.projects
    .container
        h2.projects__title Проекты домов
        .slider-wrap.projects__slider-wrap
            include ../mixins/_house_card.pug
            +house_card("project", 1, 46, 50, "Дом в КП «Монтевиль»", "n/a", 335, 6, "n/a", "Яркие индивидуальные проекты — это то, к чему мы стремимся в мире унификации.\n\nМы делаем неповторимое, даем фору окружению и превосходим ваши ожидания.\n\nЖилой комплекс из дерева, камня и стекла создан, чтобы удивлять. Статика и динамика, масштаб и легкость, эксклюзивность и практичность, традиции и тенденции — все это в одном проекте. Дом, о котором вы мечтали.")
            +house_card("project", 2, 51, 54, "Дом в Большом Покровском", "n/a", 260, 3, 2, "Простые формы и правильное сочетание материалов всегда делают архитектуру здания легкой и приятной глазу. Красота сохранена в деталях. Этот проект разрабатывался для семьи из 4 человек. Каждый квадратный метр детально продуман и оптимизирован. Также разработан вариант с цокольным этажом.")
            +house_card("project", 3, 55, 55, "Проект «Аксаково»", "14x14", 400, 6, 3, "Дом с классической двускатной кровлей и большим остеклением по главному фасаду. Зона гостиной имеет второй свет, что добавляет простора этому проекту. Опционально можно добавить еще одну комнату на 1 этаже, но чаще всего там располагаем спортзал, объединенный с сауной.")
            +house_card("project", 4, 56, 58, "Проект «Белово»", "14x18", 250, 5, 2, "Одноэтажный дом, помещения которого можно компоновать в зависимости от необходимости. Просторная гостиная, объединённая с кухонной зоной является сердцем проекта.")
            +house_card("project", 5, 59, 60, "Проект «Бородино»", "15x13", 260, 5, 2, "Отлично сбалансированный проект. Со необходимым набором помещений. Гостиная со вторым светом, как обязательная составляющая частных загородных домов. Просторная крытая веранда и крыльцо со своей крышей придает архитектуре интересный вид.")
            +house_card("project", 6, 61, 62, "Проект «Вилладжио»", "14x18", 500, 6, 6, "Большой дом для большой семьи. Практически рядом с каждой жилой комнатой расположен санузел. Гостиная зона имеет второй свет, который обеспечит главное помещение в доме хорошим объемом. Архитектура у данного проекта строгая, но при этом обязательно зацепит взгляд.")
            +house_card("project", 7, 63, 66, "Проект «Найт»", "22x15", 200, 4, 2, "Компактный дом, но при этом с нескучной архитектурой. Спальню на 1 этаже можно переориентировать на кабинет или просто увеличить зону гостиной. Гостиная имеет полуторный этаж, который не граничит с жилыми комнатами.")
            .prev-btn   
                img(src="./img/arrow.svg", alt="prev")
            .next-btn
                img(src="./img/arrow.svg", alt="prev")
        .dots-wrap
            - for (var x = 0; x < 7; x++)
                .dot