section.responsibility 
    .container
        h2.responsibility__title 
            span Управляем строительными рисками
            br
            |  и берем ответственность на себя
        .subtitle Продолжаем стройку в любых условиях, потому что у нас есть:     
        .responsibility__wrap 
            .responsibility__item 
                .responsibility__item-img
                    img(src="./img/resp1.png", alt="resp")
                .responsibility__item-title Контроль поставок
                .responsibility__item-descr Прочные контракты со 100+ поставщиками материалов защищают от брака и простоя из-за отсутствия нужных материалов
            .responsibility__item 
                .responsibility__item-img
                    img(src="./img/resp2.png", alt="resp")
                .responsibility__item-title Проверка на соответствие
                .responsibility__item-descr Собственное производство и столярный цех позволяют нам контролировать соответствие теплого контура чертежам и стандартам безопасности
            .responsibility__item 
                .responsibility__item-img
                    img(src="./img/resp3.png", alt="resp")
                .responsibility__item-title Ежегодная аттестация рабочих
                .responsibility__item-descr Над проектами работают профессионалы, которые проходят ежегодную проверку квалификации
            .responsibility__item 
                .responsibility__item-img
                    img(src="./img/resp4.png", alt="resp")
                .responsibility__item-title Техническая отчетность
                .responsibility__item-descr Каждые 2 недели на объект выезжает специалист технадзора с опытом от 10 лет, который составляет технический отчет о соответствии хода работ стандартам качества
