section.stages#stages
    .container 
        h2.stages__title 
            span У вас 
            | всё включено
        .subtitle Исполняйте свою мечту о доме, а не создавайте себе вторую работу
        include ../mixins/_stages_mixins.pug
        .stages__number-wrap
            +stages_number(1, "Согласование")
            +stages_number(2, "Проектирование")
            +stages_number(3, "Подготовка участка")
            +stages_number(4, "Теплый контур")
            +stages_number(5, "Инженерия и коммуникации")
            +stages_number(6, "Отделка")
            +stages_number(7, "Дизайн интерьера")
            +stages_number(8, "Ландшафт и малые формы")
            +stages_number(9, "Сдача объекта")
            +stages_number(10, "Заселение")
            +stages_number(11, "Сервисное обслуживание")
        .slider-wrap.stages__slider-wrap
            +stages_card(1, "Вы увидите дом в мельчайших деталях и скэномите при этом 185 тысяч рублей за счет правильно купленного участка вместе с нашими специалистами", "Согласовываем с вами все предварительные вопросы", "Консультируем по выбору участка", "Формулируем представление о доме", "Устанавливаем сроки сдачи проекта (проектирование + строительство)")
            +stages_card(2, "Вы побываете в своем доме еще до строительства и лично убедитесь, что каждая мелочь на своем месте и именно так вы представляли себе дом мечты. Вы получите полный пакет документов, по которому будет составлена смета с точностью до рубля.", "Разрабатываем проект дома и участка", "Создан архитектурный план дома и доп. объектов", "Создан инженерный план фасада и перекрытий", "Разработан дизайн проект интерьера", "Разработан план коммуникаций", "Проработан ландшафтный дизайн", "Построена виртуальная модель дома")
            +stages_card(3, "Все необходимое для строительства вашего дома доставлено, и <span>строительство началось</span>", "Проводим подготовительные работы на участке", "Провели геологическое исследование", "Согласовали разрешительные документы", "Договорились с администрацией участка и соседями", "Организовали строительную площадку", "Закупили необходимый материал", "Организовали доставку материалов", "Организовали вывоз строительного мусора")
            +stages_card(4, "Завершенный теплый контур, <span>на 50% готовый к заселению</span>", "Собираем основу дома", "Заливаем фундамент", "Монтируем домокомплект", "Вставляем окна", "Укладываем кровлю")
            +stages_card(5, "<span>Подключены все коммуникации,</span> необходимые для проживания в доме", "Прокладываем инженерные коммуникации, подводим газ, электричество", "Прокладываем электропроводку", "Проводим канализацию и водоснабжение", "Монтируем систему безопасности", "Подключаем отопительное оборудование")
            +stages_card(6, "<span>Дом готов</span> к созданию интерьера", "Делаем внешнюю и внутреннюю отделку", "Производим финальную обработку фасада", "Закупаем необходимые отделочные материалы", "Организовываем их доставку на объект", "Делаем внутреннюю отделку в соответствии с дизайн-планом")
            +stages_card(7, "<span>Дом готов</span> к заселению", "Воплощаем дизайн-проект интерьера и комплектацию", "Закупаем необходимые предметы интерьера", "Организовываем их доставку на объект", "Проводим авторский надзор")
            +stages_card(8, "<span>Полностью</span> благоустроенный участок", "Строим малые формы и делаем ландшафтный дизайн", "Строим малые формы", "Создаем ландшафтный дизайн на участке")
            +stages_card(9, "Объект <span>готов к сдаче</span>", "Готовим к сдаче объект", "Уборка объекта", "Вывоз строительного мусора и объектов строительной площадки")
            +stages_card(10, "Вы переехали в собственный дом и <span>начинаете жить так, как мечтали</span>", "Вы принимаете объект и заселяетесь", "Мы привозим вас на объект", "Вы принимаете объект", "Мы дарим вам в подарок книгу дома, которая будет помогать вам осваиваться на новом месте", "Помогаем вам с переездом")
            +stages_card(11, "<span>Вы наслаждаетесь загородной жизнью,</span> не беспокоясь о технических деталях", "Сервисное и гарантийное обслуживание <span>Мы на связи 24/7, чтобы сделать вашу загородную жизнь максимально комфортной</span>", "Наши консультанты на связи 24/7", 'Проводим регулярные плановые проверки дома на качество')
            .prev-btn   
                img(src="./img/arrow.svg", alt="prev")
            .next-btn
                img(src="./img/arrow.svg", alt="prev")
        button.button.button_stages.open-quiz