extends _modals.pug
block modal__inner
    .excursion 
        .excursion__left 
        .excursion__right 
            +form("excursion-form", "Запишитесь <br><span>на экскурсию по домам</span>", "Наш менеджер свяжется с вами в течение 15 минут для согласования экскурсии", "Заявка на экскурсию", "")