extends _modals.pug
block modal__inner
    ol.help 
        li.help__item Объясним, как правильный проект экономит вам до 490 000 рублей при строительстве
        li.help__item Расскажем про последние тенденции в архитектуре
        li.help__item Разберём, как европейские проекты можно адаптировать под наш климат
        li.help__item Поможем вам определиться с концепцией проекта
        li.help__item Спланируем планировку: количество комнат, санузлов и т. п. для комфортной жизни вашей семьи