
extends _modals.pug
block modal__inner
    .popup 
        .popup__left
            h2.popup__title 
                span А что вы знаете о 
                | маркетинговых уловках
                span  в строительных компаниях?
            .subtitle Которые ставят вас перед фактом и приводят к удорожанию проекта в 2 раза во время строительства
            .popup__left-img 
                img(src="./img/rise_price.png", alt="popup")
        .popup__right
            +form("popup-form", "Скачайте бесплатно <span>PDF экспертную статью</span>", '"Как не попасться на удорожание сметы в 2 раза во время строительства?"', "Заявка на получение статьи", "Доступ откроется автоматически")
            a(href="#").popup__refer Не надо, я на 100% уверен что знаю всё 