extends _modals.pug
block modal__inner
    .videoframe.videoframe_2
        iframe(src="https://www.youtube-nocookie.com/embed/wo_T3oGCdd0?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1", frameborder="0", allow="fullscreen")