section.start#start
    include ../header/_header.pug
    .container             
        .start__left
            h1.start__title Строим индивидуальные дома бизнес-класса из клеёного бруса
                span  с 5-ю уровнями гарантии на время строительства   
            .start__text со страхованием дома 
                span до 10 млн рублей 
                | на 1 год в подарок
            button.button.button_start.open-quiz
                .button__start-text Рассчитать предварительную смету 
                    span в 3-х вариантах комплектации
        .start__right 
            .start__item.start__item_dark
                .start__item-img
                    img(src="./img/docs.webp", alt="docs")
                .start__item-text.start__item-text_light
                    span    Фиксируем в договоре 
                    | стоимость сметы и сроки строительства
                    br
                    br
                    span Берем на себя 100% вопросов
                    | — от проектирования и заселения до последующего обслуживания дома
        .start__item-wrap            
            .start__item
                .start__item-img#start-warranty
                    img(src="./img/medal.webp", alt="medal")
                .start__item-text 
                    br
                    | Первые дома, которые мы построили в 1991 году, 
                    span до сих пор соответствуют современным стандартам качества
            .start__item
                .start__item-img
                    img(src="./img/brus.webp", alt="medal")
                .start__item-text 
                    span Собственное производство клеёного бруса 
                    | и столярных изделий в Нижнем Новгороде