nav.navbar 
    .container
        a(href="#").navbar__refer.open-quiz Расчёт сметы
        a(href="#houses").navbar__refer Построенные дома
        a(href="#stages").navbar__refer Услуги 
        a(href="#yourProject").navbar__refer Аудит сметы 
        a(href="#feedbacks").navbar__refer Отзывы 
        a(href="#warranty").navbar__refer Гарантии
        a(href="#").navbar__refer.open-callback Заказать звонок

nav.navbar_mobile 
    .container 
        .navbar__title 
            span Меню
                .navbar__burger
                    .navbar__burger-line 
                    .navbar__burger-line 
                    .navbar__burger-line 
        .navbar__content
            a(href="#").navbar__refer.open-quiz Расчёт сметы
            a(href="#houses").navbar__refer Построенные дома
            a(href="#stages").navbar__refer Услуги 
            a(href="#yourProject").navbar__refer Аудит сметы 
            a(href="#feedbacks").navbar__refer Отзывы 
            a(href="#warranty").navbar__refer Гарантии
            a(href="#").navbar__refer.open-callback Заказать звонок

a(href="#start").back-to-begin
    img(src="./img/arrow_up.svg", alt="to-top")