section.tomorrow 
    .container 
        h2.tomorrow__title 
            span Представьте, что уже завтра вы проснетесь в доме, построенном 
            | для вашей идеальной жизни
        .subtitle Здесь вы сможете наслаждаться всеми привилегиями проживания за городом
        .tomorrow__item-wrap 
            .tomorrow__item
                .tomorrow__item-title Отдыхать с семьей 
                    br
                    span и встречать друзей
                ul.tomorrow__benefits-list
                    li.tomorrow__benefit Готовить лучшее барбекю
                    li.tomorrow__benefit Смотреть любимое кино в домашнем кинотеатре
                    li.tomorrow__benefit Играть в бильярд
                    li.tomorrow__benefit Читать книгу возле камина
            .tomorrow__item 
                .tomorrow__item-title Восстанавливать свои силы 
                    span и заниматься 
                    br
                    span спортом на свежем воздухе
                ul.tomorrow__benefits-list
                    li.tomorrow__benefit Тренироваться в собственном зале
                    li.tomorrow__benefit Плавать в бассейне
                    li.tomorrow__benefit Совершать пробежки на природе
                    li.tomorrow__benefit Париться в бане после рабочей недели
            .tomorrow__item 
                .tomorrow__item-title Подарить своим детям счастливое детство,
                    br
                    span  о котором сами мечтали
                ul.tomorrow__benefits-list
                    li.tomorrow__benefit Выделить каждому ребенку свою комнату
                    li.tomorrow__benefit Поставить качели и площадку
                    li.tomorrow__benefit Сделать игровую комнату
                    li.tomorrow__benefit Обеспечить безопасность детей
                .tomorrow__descr В будущем, ДОМ — это место, куда они всегда смогут вернуться
