footer.footer 
    .container
        .footer__logo-wrap
            .footer__logo-text Стройте дом мечты с
            a(href="#").footer__logo
                img(src="./img/logo.svg", alt="logo")
        .footer__address-wrap 
            .footer__address 125310, г. Москва, Волоколамское шоссе 116, кор 3, офис 104
            .footer__work-time Работаем с 10:00 до 20:00
        a(href="mailto:hello@sdmdom.ru").footer__mail hello@sdmdom.ru
        .footer__phone-wrap
            a(href="tel:+74956657070").footer__phone +7 495 665-70-70 
            button.button.button_footer.open-callback
                .button__footer-text Перезвоните мне