section.feedbacks#feedbacks
    .container 
        h2.feedbacks__title Более 100 предпринимателей и топ-менеджеров
            span  доверили нам строительство и рекомендуют нас
        .subtitle Каждый седьмой заказчик приходит по рекомендации
        .feedbacks__wrap 
            .feedbacks__item
                .feedbacks__item-img 
                    img(src="./img/feedback-house1.png", alt="house")
                    .feedbacks__item-play.open-videoframe1
                        img(src="./img/play.svg", alt="play")
                .feedbacks__item-quote Все получилось не просто качественно, а ровно так, как я мечтала
                .feedbacks__person-wrap
                    .feedbacks__person-icon 
                        img(src="./img/person_icon1.png", alt="person-icon")
                    .feedbacks__person-descr
                        .feedbacks__person-name Светлана К.
                        .feedbacks__person-location Москва, Новорижское шоссе
                .feedbacks__item-text То ощущение, когда ты приходишь в свой дом, трудно представить. Полгода изучала в Интернете картинки, и ничего не трогало. С моим перфекционизмом и требовательностью весь проект дома был сделан за 2 года...
                a(href="#").refer.open-feedback1 Показать полностью 
            .feedbacks__item
                .feedbacks__item-img 
                    img(src="./img/feedback-house2.png", alt="house")
                    .feedbacks__item-play.open-videoframe2
                        img(src="./img/play.svg", alt="play")
                .feedbacks__item-quote Ребята действительно волнуются за то, что они строят, и продолжают поддерживать клиента после строительства
                .feedbacks__person-wrap
                    .feedbacks__person-icon 
                        img(src="./img/person_icon2.png", alt="person-icon")
                    .feedbacks__person-descr
                        .feedbacks__person-name Андрей В.
                        .feedbacks__person-location Москва, Киевское шоссе
                .feedbacks__item-text Ездили, ездили, ездили и так и не нашли то, что нравится. Поэтому было принято решение строить то, что хочется. На компании СДМ остановились после экскурсии...
                a(href="#").refer.open-feedback2 Показать полностью 
