section.warranty#warranty
    .container
        h2.warranty__title 
            span Вы получаете сразу 5 гарантий, потому что 
            | мы уверены в качестве работы на 100%
        .subtitle Все гарантийные обязательства закреплены в договоре, и мы несем 
            br
            | финансовую ответственность за их выполнение
        .warranty__wrap
            .warranty__wrap-row
                .warranty__item
                    .warranty__item-number 01
                    .warranty__item-title Гарантия фиксированной сметы
                    .warranty__item-descr Согласованная расчетная стоимость останется неизменной. В случае, если вы захотите поменять комплектацию или дополнить, мы пересчитаем и согласуем обновленную смету
                .warranty__item
                    .warranty__item-number 02
                    .warranty__item-title Гарантия соблюдения технологических и производственных стандартов
                    .warranty__item-descr Если у вас возникнут серьёзные опасения в качестве нашей работы, мы готовы за свой счет заказать независимую экспертизу и, если будут найдены нарушения, исправить их также за свой счет
            .warranty__wrap-row
                .warranty__item
                    .warranty__item-number 03
                    .warranty__item-title Гарантия заботы
                    .warranty__item-descr Наши специалисты готовы ответить на любой ваш вопрос по загородной жизни. Если вы по какой-то причине не сможете получить от нас помощь, мы подарим вам 2 месяца сервисного обслуживания
                .warranty__item
                    .warranty__item-number 04
                    .warranty__item-title Гарантия
                        br
                        | бесперебойной работы
                    .warranty__item-descr Если по нашей вине будет нарушены сроки работы, то мы возместим вам 100% понесённых убытков
            .warranty__wrap-row
                .warranty__item
                    .warranty__item-number 05
                    .warranty__item-title Гарантия лучшего соотношения «цена-качество» на материалы
                    .warranty__item-descr В наши сметы заложены материалы с лучшим соотношением цены-качества. Если вы сможете найти материалы того же качества дешевле, мы выплатим вам разницу и 5 000 рублей сверху за причиненные неудобства