doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Индивидуальное загородное строительство с 1991 года
    body
        include ./components/navbar/_navbar.pug  
        main.main
            include ./components/start/_start.pug                
            include ./components/houses/_houses.pug
            include ./components/projects/_projects.pug
            include ./components/gift/_gift.pug
            include ./components/tomorrow/_tomorrow.pug
            include ./components/stages/_stages.pug
            include ./components/your-project/_your-project.pug
            include ./components/responsibility/_responsibility.pug
            include ./components/feedbacks/_feedbacks.pug
            include ./components/warranty/_warranty.pug
            include ./components/map/_map.pug
        include ./components/footer/_footer.pug
        include ./components/modals/_popup.pug
        include ./components/modals/_excursion.pug
        include ./components/modals/_callback.pug
        include ./components/modals/_quiz.pug
        include ./components/modals/_help.pug
        include ./components/modals/_feedback1.pug
        include ./components/modals/_feedback2.pug
        include ./components/modals/_videoframe1.pug
        include ./components/modals/_videoframe2.pug
        include ./components/modals/_confidence.pug
        include ./components/modals/_thanks.pug
            